* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: darkslateblue;
    transition: ease-in 0.2s;

    flex-wrap: wrap;
}

/*SEÇÃO PRINCIPAL*/
#content {
    display: flex;
    flex-direction: column;

    border: 4px solid black;
    border-radius: 15px;

    background-color: whitesmoke;

    padding: 30px 70px;
    margin: 30px;
}

#campo-entrada {
    display: flex;
    flex-direction: column;

    margin: 40px 0;

    gap: 10px;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(95, 181, 209);

    color: rgb(28, 28, 228);

    font-size: 18pt;
    font-weight: bold;

    border: 1px solid rgb(121, 173, 173);
    border-radius: 4px;

    padding: 14px;
    margin: 15px 0;
}

#botao-calcular {
    background-color: rgb(12, 105, 198);

    border: none;
    border-radius: 5px;

    padding: 10px;

    margin-right: auto;

    color: white;

    font-size: 18pt;
    font-weight: bold;

    transition: ease-in-out 0.05s;
}

#botao-calcular:hover {
    background-color: rgb(0, 70, 139);
    transform: scale(1.05);
}

.entrada {
    padding: 6px;

    font-size: 18pt;

    border: 1px solid black;
    border-radius: 4px;

    transition: ease-in 0.05s;
}

.entrada:focus {
    transform: scale(1.03);
}

/*SEÇÃO DE TEMAS*/
#temas {
    display: flex;
    flex-direction: column;
    gap: 20px;

    /**
    position: absolute;*
    right: 30px;**/
}

.botao-cor {
    padding: 8px;

    width: 50px;
    height: 50px;

    border: 3px solid black;
    border-radius: 50%;

    transition: ease-in-out 0.1s;
}

.botao-cor:hover {
    transform: scale(1.3);
}

#botao-darkslateblue {
    background-color: darkslateblue;
}

#botao-dodgerblue {
    background-color: dodgerblue;
}

#botao-salmon {
    background-color: salmon;
}

#botao-goldenrod {
    background-color: goldenrod;
}

#botao-yellowgreen {
    background-color: yellowgreen;
}

#botao-chocolate {
    background-color: chocolate;
}

/*OUTROS*/

.shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}